body {
    background-color: #e49041;  /* Fondo azul claro */
    color: #0f0f0f;  /* Texto de color gris oscuro */
    font-family:'Lucida Sans', 'Lucida Sans Regular';  /* Fuente Arial */
}
p {
    text-align: center; 
    font-size: xx-large;
    margin-top: 20%;
}
img{
    display: block;         
    margin-left: auto;      
    margin-right: auto;
}

