
h1 {
    color: crimson;
    font-size: xx-large;
}

h6 {
    font-size: xx-large;
}

body {
    background-color: #5d5ae7;  /* Fondo azul claro */
    color: #faf8f8;  /* Texto de color gris oscuro */
    font-family:monospace;  /* Fuente Arial */
    font-size: 3.2em;  /* Tamaño de fuente */
    padding: 20px;  /* Padding interno */
}


button {
background-color: #6ae45f;

}

input{
    background-color: rgb(255, 255, 255); /* Color de fondo rosa */
    color: black; /* Color de texto */
    font-family: 'Monospace', sans-serif; /* Fuente */
    font-size: x-large; /* Tamaño de fuente */
    border-radius: 20%; /* Bordes redondeados */
    padding: 12px 24px; /* Espaciado interior (padding) */
    border: none; /* Eliminar borde por defecto */
    cursor: pointer; /* Cambiar cursor a puntero al pasar sobre el botón */
    text-transform: uppercase; /* Poner el texto en mayúsculas */
    font-weight: bold; /* Negrita */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: all 0.3s ease; /* Transición suave para cambios de estado */
}
